<h1><%= @node.name %></h1>
<h2>Parameters</h2>
<table>
  <tr>
    <th>Key</th>
    <th>Value</th>
  </tr>
  <% (@node.groups.collect{|v|v} << @node).each do |object| %>
    <% object.parameters.each do |parameter| %>
      <tr>
        <td><%= object.name %></td>
        <td><%= parameter.key %></td>
        <td><%= parameter.value %></td>
      </tr>
    <% end %>
  <% end %>
</table>
<h2>Classes</h2>
<%= @node.classes.collect {|v|v.name} %><br>
<h2>Groups</h2>
<%= @node.groups.collect {|v|v.name} %><br>
<h2>Reports</h2>
<table>
  <tr>
    <th>Time</th>
    <th>Status</th>
  </tr>
  <% @node.reports.each do |report| %>
    <tr>
      <td><%= report.time %></td>
      <td><%= report.status %></td>
    </tr>
  <% end %>
</table>
