<h1><%= @node.name %></h1>
<p>
  <%= link_to "Back", nodes_path, :class => "btn" %>
</p>

<h2>Parameters</h2>
<table class="table">
  <tr>
    <th>Key</th>
    <th>Value</th>
  </tr>
  <% (@node.groups.collect{|v|v} << @node).each do |object| %>
    <% object.parameters.each do |parameter| %>
      <tr>
        <td><%= object.name %></td>
        <td><%= parameter.key %></td>
        <td><%= parameter.value %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<h2>Classes</h2>
<ul>
  <% @node.classes.each do |node_class| %>
    <li><%= link_to node_class.name, node_class_path(node_class) %></li>
  <% end %>
</ul>

<h2>Groups</h2>
<ul>
  <% @node.groups.each do |group| %>
    <li><%= link_to group.name, node_group_path(group) %></li>
  <% end %>
</ul>

<h2>Reports</h2>
<table class="table">
  <tr>
    <th>Time</th>
    <th>Status</th>
  </tr>
  <% @node.reports.each do |report| %>
    <tr>
      <td><%= report.time %></td>
      <td><%= report.status %></td>
    </tr>
  <% end %>
</table>
